a {
  color: silver;
  text-decoration: none;
}
img{
  display: block; margin: 30px auto;
  padding: 0px;
}
  h1 {
    font-size: 70px;
    text-align: center;
  border-bottom:1px solid gray;
  margin: 0;
  padding: 20px;
}
  p {
    text-align: center;
  }
.active{color: black;
   text-decoration:underline;}

   #grid ul{
     border-right:1px solid gray;
     width: 150px;
     margin: 0;
     padding: 20px;
     padding-left: 35px;
   }
   body{
     margin: 0;
   }
   #grid{
     display: grid;
     grid-template-columns: 300px 1fr;
   }
   #article{
     padding-right: 100px;
   }


@media(max-width:800px) {
  #grid{
    display: block;
  }
  #grid ul{
    border-right:none;
}
  h1 {
border-bottom:none;
  }
}
